/* RESET GENERAL */
/* Quitamos márgenes raros y usamos caja correcta */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILO GENERAL DE LA PÁGINA */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #111;
}

/* HEADER (PARTE SUPERIOR) */

header {
    background-color: #2b2b2b;
    padding: 15px;
}

/* MENÚ DE NAVEGACIÓN */
nav {
    display: flex;
    /* pone los links en línea */
    justify-content: center;
    /* los centra */
    gap: 25px;
    /* espacio entre ellos */
}

/*LINK DEL MENU*/
nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/*EFECTO CURSOR*/
nav a:hover {
    text-decoration: underline;
}

/*CONTENITO PRINCIPAL*/
main {
    padding: 40px 20px;
}

/*CONTENEDOR DE PRODUCTOS*/
.productos {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* TARJETA DE PRODUCTO */
.tarjeta {
    background-color: white;
    width: 260px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

    overflow: hidden;
/* para el efecto 3D */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    perspective: 800px;
}
