/* RESET GENERAL */
/* Quitamos márgenes y usamos caja correcta */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILO GENERAL */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #111;
}

/* HEADER */
header {
    background-color: #2b2b2b;
    padding: 15px;
}

/* HAMBURGUESA OCULTA EN PC */
.hamburguesa {
    display: none;
}

/* CHECKBOX OCULTO EN PC */
#menu-toggle {
    display: none;
}

/* MENÚ */
nav {
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
}

/* CONTENIDO PRINCIPAL */
main {
    padding: 40px 20px;
}

/* CONTENEDOR DE PRODUCTOS */
.productos {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* TARJETA */
.tarjeta {
    background-color: white;
    width: 260px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

    /* MUY IMPORTANTE */
    overflow: hidden;
    /* evita que el zapato se junte con el hover */
}

/* IMAGEN DEL ZAPATO */
.tarjeta img {
    width: 200px;
    height: 180px;
    object-fit: contain;
    margin-bottom: 15px;

    /* animación SOLO de la imagen */
    transition: transform 0.6s ease;
    will-change: transform;
}

/* ANIMACIÓN DEL ZAPATO (SOLO LA IMAGEN) */
.tarjeta:hover img {
    transform:
        scale(1.12) rotate(-25deg) translateX(-15px);
}

/* TÍTULO DEL PRODUCTO */
.tarjeta h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

/* TEXTO */
.tarjeta p {
    font-size: 12px;
    color: #555;
    margin-bottom: 15px;
}

/* PRECIO */
.precio {
    background-color: #2b2b2b;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;

    transition: background-color 0.3s ease;
}

/* PRECIO CAMBIA DE COLOR */
.tarjeta:hover .precio {
    background-color: #00b050;
}